/******************************************
/* GENERAL
/*******************************************/
/* Box Model Hack */
* {
    box-sizing: border-box;
  }
    
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
    

* {
    font-family: Cinzel;
    color: black;
    text-decoration: none;
}

li {
    list-style: none; 
}
  
ul {
    padding-left: 0;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
.fa-bars {
  visibility:hidden;
}
img {
  max-width: 90%;
}

.allItems {
  max-width: 100%;
}
/******************************************
/* NAV BAR
/*******************************************/
header {
  float: left;
  width: 100%;
  height: 60px;
}

header nav ul li {
  width: 10%;
  float: left;
}




/******************************************
/* MAIN SECTION
/*******************************************/



/******************************************
/* THREE SECTIONS
/*******************************************/



/******************************************
/* VIDEO SECTION
/*******************************************/



/******************************************
/* EXPERTS
/*******************************************/



/******************************************
/* COLOUR DAY OFFER
/*******************************************/



/******************************************
/* LOOKBOOK SECTION
/*******************************************/


/******************************************
/* MEDIA QUERY
/*******************************************/
@media only screen and (max-width: 480px) {
  header {
    height: 80px;
  }
  .navItems {
    visibility: hidden;
  }

  .fa-bars {
    visibility: visible;
    width: 5%;
    font-size: 22px;
    position: relative;
    left: 120px;
  }

  .logo {
    position: relative;
    width: 50%;
    float: left;
  }

  main {
    background-image: url("../images/Mainimage.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    top: 50px;
  }
}