/******************************************
/* GENERAL
/*******************************************/
/* Box Model Hack */
* {
    box-sizing: border-box;
  }
    
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
    

* {
    font-family: Cinzel;
    color: black;
    text-decoration: none;
}

li {
    list-style: none; 
}
  
ul {
    padding-left: 0;
}
/******************************************
/* MEDIA QUERY
/*******************************************/



/******************************************
/* NAV BAR
/*******************************************/



/******************************************
/* MAIN SECTION
/*******************************************/



/******************************************
/* THREE SECTIONS
/*******************************************/



/******************************************
/* VIDEO SECTION
/*******************************************/



/******************************************
/* EXPERTS
/*******************************************/



/******************************************
/* COLOUR DAY OFFER
/*******************************************/



/******************************************
/* LOOKBOOK SECTION
/*******************************************/