/******************************************
/* GENERAL
/*******************************************/
/* Box Model Hack */
* {
    box-sizing: border-box;
  }
    
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
    

* {
    font-family: Cinzel;
    color: black;
    text-decoration: none;
}

li {
    list-style: none; 
}
  
ul {
    padding-left: 0;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
.fa-bars {
  visibility:hidden;
}

/******************************************
/* NAV BAR
/*******************************************/
.logo {
  height: 20%;
  width: 75%;
  margin: 0 35px;
}

.AyeshaList {
  margin: 0 95px 0 30px;
}
header {
  float: left;
  width: 100%;
  height: 70px;
  position: relative;
  top: -15px;
  background-color: white;
}

ul a {
  color: black;
  font-weight: 600;
  width: 100%;
}

header nav ul li {
  width: 8%;
  float: left;
}

.lookbook {
  margin-right: 20px;
}

.navIcons {
  width: 4%;
}



/******************************************
/* MAIN SECTION
/*******************************************/
main {
  background-image: url("../images/Mainimage.jpg");

  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 6%;
  padding-top: 7%
}

h1 {
  color: white;
  font-size: 104px;
  max-width: 40%;
  font-weight: 100;
  margin-bottom: 0;
}

.whiteText {
  color: white;
}

.mainPageSpan {
  display: block;
  font-size: 22px;
  padding-bottom: 40px;
}

.servicesButton{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
}

.mainBlackBox {
  margin-top: 60px;
  background-color: black;
  color: white;
  width: 20%;
  padding: 2%;
  height: 40%;
}

.bookingButton {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
}


/******************************************
/* THREE SECTIONS
/*******************************************/



/******************************************
/* VIDEO SECTION
/*******************************************/



/******************************************
/* EXPERTS
/*******************************************/



/******************************************
/* COLOUR DAY OFFER
/*******************************************/



/******************************************
/* LOOKBOOK SECTION
/*******************************************/


/******************************************
/* MEDIA QUERY
/*******************************************/
@media only screen and (max-width: 480px) {
  header {
    height: 80px;
  }
  .navItems {
    visibility: hidden;
  }

  .fa-bars {
    visibility: visible;
    width: 5%;
    font-size: 22px;
    position: relative;
    left: 200px;
  }

  .logo {
    position: relative;
    width: 400%;
    float: left;
  }

  main {
    background-image: url("../images/Mainimage.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    top: 50px;
  }
}